body {
  background-color: #f0f2f5;
}

a {
  text-decoration: none;
}

.user-image {
  height: 250px;
  object-fit: cover;
}

/* Utility */
.text-break {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
